@baraka:registry=https://gitlab.com/api/v4/projects/44972038/packages/npm/
strict-ssl=false
always-auth=true
#vieux token //gitlab.com/api/v4/projects/44972038/packages/npm/:_authToken=glpat-m-sFefm_AQkmq_6xovAz
//gitlab.com/api/v4/projects/44972038/packages/npm/:_authToken=glpat-1apqgSWYyJxiSE-JpRcB


